<div class="container-fluid">

    <div class="row d-flex align-items-center">

        <div class="col-md-6" id="img-bg"></div>

        <div class="col-md-6">
            <div class="row d-flex justify-content-center">
                <div class="col-md-10">
                    <h1 class="text-center mb-3">Cadastrar</h1>

                    <div class="form-group">
                        <label for="nome">Nome</label>
                        <input class="form-control" type="nome" name="nome" id="nome" placeholder="Digite seu nome">
                    </div>

                    <div class="form-group">
                        <label for="email">Email</label>
                        <input class="form-control" type="email" name="email" id="email" placeholder="Digite seu email">
                    </div>

                    <div class="form-group">
                        <label for="linkfoto">Link da foto</label>
                        <input class="form-control" type="text" name="linkfoto" id="linkfoto"
                            placeholder="Insira o link da sua foto">
                    </div>

                    <div class="form-group">
                        <label for="senha">Senha</label>
                        <input class="form-control" type="password" name="senha" id="senha"
                            placeholder="Digite sua senha">
                    </div>

                    <div class="form-group">
                        <label for="confirmasenha">Confirmar senha</label>
                        <input class="form-control" type="password" name="confirmasenha" id="confirmasenha"
                            placeholder="Confirme sua senha">
                    </div>

                    <div class="form-group">
                        <label for="tipo">Tipo de usuário</label>
                        <select class="form-control" name="tipo" id="tipo">
                            <option>Selecione um tipo de usuário</option>
                            <option value="normal">Normal</option>
                            <option value="admin">Administrador</option>
                        </select>
                    </div>

                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-danger mr-4">Cancelar</button>
                        <button type="submit" class="btn btn-success">Entrar</button>
                    </div>

                    <hr class="mt-5 mb-5">

                    <p class="text-center">
                        Não poaaui uma conta? <a href="">Cadastre-se.</a>
                    </p>

                </div>
            </div>
        </div>

    </div>


</div>