<nav class="navbar navbar-expand-lg navbar-light bg-secondary">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto d-flex align-items-center">
            <li class="nav-item active">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSiTXFe73xZAUtullUGbJ0nLJFCct_upiEIsg&usqp=CAU"
                    alt="Imagem do usuário" width="50px" height="50px" class="img-fluid rounded-circle">
            </li>
            <li class="nav-item">
                <p class="m-0 font-weight-bold text-white pl-3 fs-16">Nome do usuário</p>
            </li>
            <li>
                <a href="">
                    <i class="fa-solid fa-pen-to-square text-white pl-3"></i>
                </a>
            </li>
        </ul>
    </div>

    <ul class="navbar-nav ml-auto d-flex align-items-center">
        <li class="nav-item">
            <a class="m-0 font-weight-bold text-white pl-3 fs-16">Sair <i class="fa-solid fa-right-from-bracket"></i></a>
        </li>
    </ul>

</nav>